package ${package.Parent}.domain.converter#if("$!{busPackageName}"!="").${busPackageName}#end;



import ${package.Entity}.${entity};
import ${package.Parent}.api.dto.output#if("$!{busPackageName}"!="").${busPackageName}#end.${table.originalName}DTO;
import ${package.Parent}.api.dto.input#if("$!{busPackageName}"!="").${busPackageName}#end.${table.originalName}Req;
import ${package.Parent}.api.dto.input#if("$!{busPackageName}"!="").${busPackageName}#end.${table.originalName}ValidReq;
import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import java.util.List;

/**
 * <p> DTO
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

@Mapper(componentModel = "spring")
public interface I${table.originalName}Convertor {

    /**
     * req 转 DO
     * @param req
     * @return
     */
     @Mapping(target = "page", ignore = true)
     ${entity} req2Do(${table.originalName}Req req);

    /**
     * validReq 转 DO
     * @param req
     * @return
     */
     @Mapping(target = "page", ignore = true)
     ${entity} validReq2Do(${table.originalName}ValidReq req);

    /**
     *
     * @param reqList
     * @return
     */
    @Mapping(target = "page", ignore = true)
    List<${entity}> reqs2Dos(List<${table.originalName}Req> reqList);

    /**
     *
     * @param reqList
     * @return
     */
    @Mapping(target = "page", ignore = true)
    List<${entity}> validReqs2Dos(List<${table.originalName}ValidReq> reqList);

    /**
     *
     * @param o
     * @return
     */
    ${table.originalName}DTO do2Dto(${entity} o);

    /**
     *
     * @param doList
     * @return
     */
    List<${table.originalName}DTO> dos2Dtos(List<${entity}> doList);

}